# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Output
# ==========================
output/*
!output/.gitkeep

# ==========================
# Uploads
# ==========================
uploads/*
!uploads/.gitkeep

storage/*
!storage/.gitkeep

.venv/*
.env
.vercel

_test_app.py